/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {box-sizing: border-box;}
/* 2. Remove default margin */
* {margin: 0;}
/* 3. Allow percentage-based heights in the application */
html, body {height: 100%;}
/* Typographic tweaks! Add accessible line-height & Improve text rendering */
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {display: block; max-width: 100%;}
/* 7. Remove built-in form typography styles */
input, button, textarea, select {font: inherit;}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

/* Font */
@font-face {
  font-family: 'HankenGrotesk';
  font-display: swap;
  font-weight: 100 900;
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') 
       format('truetype');
}

/* Custom Properties */

:root {
  --hsl-slate-blue: 252, 100%, 67%;
  --hsl-violet-blue: 256, 72%, 46%;
  --hsl-royal-blue: 241, 81%, 54%;
  --hsl-persian-blue: 241, 72%, 46%;

  --hsl-white: 0, 0%, 100%;
  --hsl-pale-blue: 221, 100%, 96%;
  --hsl-lavender: 241, 100%, 89%;
  --hsl-dark-blue: 224, 30%, 27%;

  --clr-neutral-100: hsl(var(--hsl-white));
  --clr-neutral-200: hsl(var(--hsl-pale-blue));
  --clr-neutral-300: hsl(var(--hsl-lavender));
  --clr-neutral-700: hsl(var(--hsl-dark-blue));


  --clr-primary-400: hsl(var(--hsl-slate-blue));
  --clr-primary-500: hsla(var(--hsl-violet-blue));
  --clr-secondary-400: hsl(var(--hsl-royal-blue));

  --gradient-primary: linear-gradient(
      var(--clr-primary-400), 
      var(--clr-secondary-400));

  --gradient-to-transparent: linear-gradient(
      var(--clr-primary-500),
      hsl(var(--hsl-persian-blue), 0));

  --clr-accent-1: 0, 100%, 67%;
  --clr-accent-2: 39, 100%, 56%;
  --clr-accent-3: 166, 100%, 37%;
  --clr-accent-4: 234, 85%, 45%;

  --font-family-default: 'HankenGrotesk', sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;
}

/* Utility */

.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

.button {
  border-radius: 100vw;
  border: 0;
  cursor: pointer;
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
  padding: 1rem 2rem;
  line-height: 1;
}

.button:is(:hover, :focus-visible) {
  background-image: var(--gradient-primary);
}

/* Layout */

.grid-flow {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.grid-flow[data-spacing="large"] {
  gap: 2rem;
}

.flex-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.result-summary {
  --border-radius: 2rem;
  --padding: 2.5rem;

  max-width: 46em;
  display: grid;
}

/* Change the layout to two columns for desktop screens */
@media (min-width: 600px) {
  .result-summary {
    /* margin-inline: 1rem; */
    /* overflow: hidden; */
    grid-template-columns: 1fr 1fr;
    border-radius: var(--border-radius);
    box-shadow:
     0.5rem 1rem 3rem
     hsl(var(--hsl-dark-blue), 0.2) ;
  }
}

/* Main Styles */

body {
  font-family: var(--font-family-default);
  font-size: var(--fs-400);
  color: var(--clr-neutral-700);
}

@media (min-width: 600px) {
  /* Aligns the content centre for desktop screens */
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

.results {
  background-image: var(--gradient-primary);
  border-radius:
   0 0 var(--border-radius) var(--border-radius);
  text-align: center;
  color: hsl(var(--hsl-white), 0.7);
  padding: var(--padding);

}

.results__score {
  border-radius: 50%;
  background-image: var(--gradient-to-transparent);
  width: 12rem;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  margin-inline: auto;
}

.results__score span{
  /* display: block; */
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-900);
  line-height: 1;
  color: var(--clr-neutral-100);
}

.results__rank {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
}

@media (min-width: 600px) {
  .results {
    border-radius: var(--border-radius);
    padding:
      var(--padding) calc(var(--padding) * 1.75);
  }
}

.summary {
  padding: var(--padding);

}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: hsl(var(--accent-clr), 0.1);
}

.summary-item[data-item-type="accent-1"] {
  --accent-clr: var(--clr-accent-1);
}

.summary-item[data-item-type="accent-2"] {
  --accent-clr: var(--clr-accent-2);
}

.summary-item[data-item-type="accent-3"] {
  --accent-clr: var(--clr-accent-3);
}

.summary-item[data-item-type="accent-4"] {
  --accent-clr: var(--clr-accent-4);
}

.summary-item__icon {
  stroke: hsl(var(--accent-clr));
}

.summary-item__title {
  color: hsl(var(--accent-clr));
  font-weight: var(--fw-bold);
}

.summary-item__score {
  font-weight: var(--fw-bold);
  color: hsl(var(--hsl-dark-blue), 0.5)
}

.summary-item__score span {
  color: var(--clr-neutral-700);
}



